html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Futuristic;
  src: url(../font/FuturistFixedWidthRegular.woff);
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font: 400 1em/1.5em Futuristic, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #ffffff;
  color: #000000;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font: 700 2em/2em Futuristic, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  font-weight: 700;
  text-align: center;
  line-height: 1.5;
  text-transform: uppercase;
}

h2 {
  font-size: 3em;
}
@media (max-width: 472px) {
  h2 {
    font-size: 2em;
  }
}

h3 {
  font-size: 1.2em;
}

strong {
  font-weight: 700;
}

p {
  font-weight: 400;
  padding-bottom: 10px;
}

body {
  background: #ffffff;
  width: 100%;
  height: 100%;
}

header .wrapper {
  position: relative;
  width: 100%;
  height: 1080px;
  padding: 0;
  margin: 0;
  margin-top: 15%;
}
header .wrapper #first-form {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: block;
  background: url(../images/1-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-animation-name: form-1;
  -webkit-animation-duration: 10s;
  -webkit-animation-fill-mode: forwards;
  visibility: hidden;
}
@media (min-width: 1500px) {
  header .wrapper #first-form {
    top: -15%;
  }
}
header .wrapper .curtain {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  background: white;
  background-size: contain;
}
header .wrapper .curtain-fixed {
  position: fixed;
}
header .wrapper .curtain-1 {
  z-index: 101;
  left: 0;
  -webkit-animation-name: curtain-1;
  -webkit-animation-duration: 10s;
  -webkit-animation-fill-mode: forwards;
  visibility: hidden;
}
header .wrapper #brand {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 102;
  visibility: hidden;
}
header .wrapper #brand img {
  display: block;
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
  opacity: 0;
  -webkit-animation-name: show-brand-1;
  -webkit-animation-duration: 10s;
  -webkit-animation-fill-mode: forwards;
}
header .wrapper #second-form {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: block;
  background: url(../images/2-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-animation-name: second-form;
  -webkit-animation-duration: 20s;
  -webkit-animation-delay: 10s;
}
header .wrapper .curtain-2 {
  z-index: 6;
  left: 0;
  -webkit-animation-name: curtain-2;
  -webkit-animation-duration: 20s;
  -webkit-animation-delay: 10s;
}
header .wrapper #third-form {
  position: fixed;
  top: -1px;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: block;
  background: url(../images/2-2.png);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-animation-name: third-form;
  -webkit-animation-duration: 20s;
  -webkit-animation-delay: 10s;
}
header .wrapper .curtain-3 {
  z-index: 4;
  left: 0;
  -webkit-animation-name: curtain-3;
  -webkit-animation-duration: 20s;
  -webkit-animation-delay: 10s;
}
header .wrapper #fourth-form {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: block;
  background: url(../images/2-3.png);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-animation-name: fourth-form;
  -webkit-animation-duration: 20s;
  -webkit-animation-delay: 10s;
}
@media (min-width: 1650px) {
  header .wrapper #fourth-form {
    background-size: cover;
  }
}
header .wrapper .curtain-4 {
  z-index: 4;
  left: 0;
  -webkit-animation-name: curtain-4;
  -webkit-animation-duration: 20s;
  -webkit-animation-delay: 10s;
}
header .wrapper .intro-msg-1 {
  z-index: 500;
  position: absolute;
  width: auto;
  right: 20%;
  top: 12%;
  display: block;
  opacity: 0;
  -webkit-animation-name: intro-msg;
  -webkit-animation-duration: 15s;
  -webkit-animation-delay: 10s;
}
header .wrapper .welcome-msg {
  position: absolute;
  width: auto;
  margin-right: 30px;
  top: 40%;
  bottom: 40%;
  left: 50%;
  line-height: 2;
  z-index: 10;
  display: none;
}

@-webkit-keyframes curtain-1 {
  0% {
    left: 0;
    visibility: visible;
  }
  25% {
    left: 100%;
  }
  75% {
    left: 100%;
  }
  100% {
    left: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes form-1 {
  0% {
    visibility: visible;
  }
}
@-webkit-keyframes show-brand-1 {
  0% {
    opacity: 0;
    visibility: visible;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes curtain-2 {
  0% {
    left: 0;
  }
  5% {
    left: 100%;
  }
  30% {
    left: 100%;
  }
  60% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes second-form {
  0% {
    visibility: visible;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes intro-msg {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes curtain-3 {
  5% {
    left: 0;
  }
  10% {
    left: 100%;
  }
  70% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes third-form {
  0% {
    visibility: visible;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes curtain-4 {
  10% {
    left: 0;
  }
  15% {
    left: 100%;
  }
  80% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes fourth-form {
  0% {
    visibility: visible;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
