html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Futuristic;
  src: url(../font/FuturistFixedWidthRegular.woff);
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font: 400 1em/1.5em Futuristic, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #ffffff;
  color: #000000;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font: 700 2em/2em Futuristic, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  font-weight: 700;
  text-align: center;
  line-height: 1.5;
  text-transform: uppercase;
}

h2 {
  font-size: 3em;
}
@media (max-width: 472px) {
  h2 {
    font-size: 2em;
  }
}

h3 {
  font-size: 1.2em;
}

strong {
  font-weight: 700;
}

p {
  font-weight: 400;
  padding-bottom: 10px;
}

body {
  background: #ffffff;
  width: 100%;
  height: 100%;
}

header .wrapper {
  position: relative;
  height: 900px;
  width: 100%;
  padding: 0;
  margin: 0;
}
header .wrapper .intro-msg-1 {
  display: none;
  position: absolute;
  width: auto;
  margin-right: 30px;
  top: 45%;
  left: 50%;
}
header .wrapper .welcome-msg {
  position: absolute;
  width: auto;
  margin-right: 30px;
  top: 40%;
  bottom: 40%;
  left: 50%;
  line-height: 2;
}
