// base.scss
// ==================

html {
    overflow-x: hidden;
}

body {
    font: $mainFont;
    background: $light;
    color: $dark;
    overflow: hidden;
}

#{headings()} {
    font: $headFont;
    color: $dark;
    font-weight: $bold;
    text-align: center;
    line-height: 1.5;
    text-transform: uppercase;
}

h2 {
    font-size: 3em;
    @include breakpoint (max-width 472px){
        font-size: 2em;
    }
}

h3 {
    font-size: 1.2em;
}

strong {
    font-weight: $bold;
}

p {
    font-weight: $regular;
    padding-bottom: 10px;
}

.dft-btn {
    font: $headFont;
    font-size: 1.5em;
    text-transform: uppercase;
    color: $light;
    background: $dark;
    border: none;
    padding: 10px 20px;
    @include border-radius(15px);
}

/* Preloader */

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:9999999999; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../images/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}