// mixins.scss
// ==================

@mixin backImage($image) {
    background: url($image) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}//backImage

@mixin clearfix {
    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}//clearfix

@mixin transition-menu {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

@mixin transition {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

@mixin border-radius ($pixels) {
    border-radius: $pixels;
    -moz-border-radius: $pixels;
    -webkit-border-radius: $pixels;
    -o-border-radius: $pixels;
}//border-radius