// footer.scss
// ==================

#footer {
    display: block;
    float: left;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: $dark;
    color: $light;
    text-align: center;
    margin: 0 auto;
    font-size: 0.8em;
    
    #footer-container {
        @include container(80%);
        ul {
            display: inline-block;
            margin-top: 10px;
            
            li {
                width: 30px;
                margin-right: 10px;
                float: left;
            }
        }
    }
    
    .col-footer {
        display: block;
        padding: 5px 0;
        padding-top: 15px;
        margin: 0 auto;
        @include span(4 of 12);
        @include breakpoint(max-width $medium) {
            @include span(12 of 12);
        }
    }
    
    a {
        text-decoration: none;
        color: $light;
    }
    
    #legal-links {
        
    }
    
}