// intro.scss
// ==================

header { 
    .wrapper {
        position: relative;
        height: 900px;
        width: 100%;
        padding: 0;
        margin: 0;
        h1 {
            
        }//h1
        .intro-msg-1 {
            display: none;
            position: absolute;
            width: auto;
            margin-right: 30px;
            top:45%;
            left: 50%;
        }
        
        .welcome-msg {
            position: absolute;
            width: auto;
            margin-right: 30px;
            top: 40%;
            bottom: 40%;
            left: 50%; 
            line-height: 2;
        }
        
    }//wrapper

}//header