// intro.scss
// ==================

//MENU LATERAL
#pageslide{display:none;position:absolute;position:fixed;top:0;height:100%;z-index:999999;width:350px;padding:0 20px;background-color:#333;color:#FFF;-webkit-box-shadow:inset 0 0 5px 5px #222;-moz-box-shadow:inset 0 0 5px 5px #222;box-shadow:inset 0 0 5px 5px #222}

header { 
    .brand img {
        width: 125px;
        height: auto;
    }
    .fullheight {
        @include backImage('../images/back-image-bg.jpg');
        @include breakpoint (max-width $medium) {
            @include backImage('../images/back-image-medium.jpg');
        }
        @include breakpoint (max-width $small) {
            @include backImage('../images/back-image-small.jpg');
        }
        @include breakpoint (max-width $smallest) {
            @include backImage('../images/back-image-smaller.jpg');
        }
        padding: 20px;

        h1 {
            display: block;
            color: $light;
            text-align: center;
            font-weight: $regular;
            font-size: 1.5em;
            line-height: 1.3;
            padding: 100px 0;
            margin-bottom: 100px;
            max-width: 1000px;
            margin: 0 auto;
            
            @include breakpoint(min-width $small) {
                font-size: 2.5em;
                padding: 0;
            }
            @include breakpoint(min-width $medium) {
                font-size: 3em;
                padding: 0;
            }
            @include breakpoint(min-width $wide) {
                font-size: 4em;
                padding: 0;
            }
        }//h1
        
        .welcome-msg {
            position: relative;
            margin: 0 auto;
            @include breakpoint (max-width $small) {
                top: -30px!important;
            }
        }
        
        .scrolldown {
            position: absolute;
            display: block;
            width: 32px;
            height: 32px;
            background: url('../images/down-white.png') no-repeat;
        }//scrolldown
        
    }//fullheight

}//header