// nav.scss
// ==================

#main-nav {
    display: none;
}

#pageslide {
    @include clearfix;
    background: $dark;
    -webkit-box-shadow: none;
    box-shadow: none;
    @include breakpoint (max-width $small) {
        width: 250px;
    }
    ul {
        float: left;
        padding: 15%;
        a {
            color: $light;
            line-height: 2;
            text-decoration: none;
            font-size: 1.3em;
        }//a
        
        .nav-extras ul {
            padding: 15px 0;
            width: 100%;
            li {
                padding: 3px 0;
                a {
                    font-size: 0.8em;
                }
            }
        }//nav-extras a
        
        .social ul {
            padding: 0;
            padding-top: 10px;
            li {
                float: left;
                padding-right: 15px;
            }
        }
    }//ul
    & ul .main{
        display: block;
        height: 40px;
        width: 355px;
        margin-bottom: 3px;
        position: relative;
        background: $bgColorLi;

        &:last-child {
          margin-bottom: 0;
        }
        & a {
          color: #fff;
          //padding-left: 15%;
          display: block;
          width: 85%;
          height: 100%;
          font-size: 24px;
          line-height: 42px;
          text-decoration: none;
          position: absolute;
          z-index: 1;
            @include breakpoint (max-width $small) {
                font-size: 20px;
            }
        }
        &:before {
            content: '';
            position: absolute;
            top: 40px;
            left: -75px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px 0;
            border-color: transparent #a3a3a3 transparent transparent;
            z-index: -9999999;
            display: none;
        }
        &:after {
          content: '';
          position: absolute;
          background: $bgColorLiAfter;
          top: 0;
          left: -66.5px;
          width: 0;
          height: 100%;
          z-index: 0;
          @include transition-menu;
        }
        &:hover:before {
            display: none;
        }
        &:hover:after {
          width: 100%;
            @include breakpoint (max-width $small) {
                display: none;
            }
        }
    }
}//pageslide

.lateral {
    background: url('../images/collapse.png') no-repeat;
    display: block;
    width: 49px;
    height: 37px;
    position: fixed;
    top: 25px;
    right: 25px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    z-index: 99999;
}
@include breakpoint (max-width $small) {
    .lateral.abierto {
        right: 250px;
    }
}


#menu-launch {
    width: 50px;
    height: 50px;
}