// portfolio-page.scss
// ==================

#portfolio-page {
    background: $dark;
    .brand {
        position: fixed;
        padding: 20px;
        z-index: 1;
        width: 165px;
        height: 120px;
        background: url(../images/logo-text.png) no-repeat 20px 20px;
        a {
            width: 125px;
            height: 80px;
            display: block;
        }
        @include breakpoint (max-width 680px){
            display: none;
        }
    }
    .brand-dark {
        background: url(../images/logo-dark.png) no-repeat 20px 20px;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }
    #intro-portfolio {
        .section-header h2 {
            color: $light;
            margin-bottom: 20px;
        }
    }
    #masonry-portfolio {
        top: 150px;
        margin: 0 20px;
        margin-bottom: 150px;
        
        .proyecto {
            max-width: 481px;
            margin-bottom: 50px;
            @include border-radius (10px);
            img {
                width: 100%;
                padding: 20px;
                padding-top: 30px;
            }
        }
        
        @include breakpoint (min-width 1500px){
            left: 15%!important;
        }
        @include breakpoint (min-width 1600px){
            left: 3%!important;
        }
        @include breakpoint (min-width 1750px){
            left: 8%!important;
        }
        
        
        
        //Colores
        .yellow {
            background: $yellow;
        }//yellow
        .purple {
            background: $purple;
        }//purple
        .fucsia {
            background: $fucsia;
        }//fucsia
        .darkgray {
            background: $darkgray;
        }//darkgray
        .green {
            background: $green;
        }//green
        .bluenet {
            background: $bluenet;
        }//bluenet
    }//portfolio masonry grid 
    #contact {
        background: $light;
    }
    
    #preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#000; /* change if the mask should have another color then white */
    z-index:9999999999; /* makes sure it stays on top */
}

    #status {
        width:200px;
        height:200px;
        position:absolute;
        left:50%; /* centers the loading animation horizontally one the screen */
        top:50%; /* centers the loading animation vertically one the screen */
        background-image:none; /* path to your loading animation */
        background-repeat:no-repeat;
        background-position:center;
        margin:-100px 0 0 -100px; /* is width and height divided by two */
    }
    
}//portfolio page body