// portfolio.scss
// ==================

#portfolio {
    @include container;
    background: $dark;
    position: relative;
    
    .section-header {
        background: $dark;
        color: $light;
        position: relative;
        top: 0;
        h2 {
            color: $light;
        }
    }
    
    #portfolio-grid {
        float: left;
        position: relative;
        bottom: 0;
        width: 100%;
        overflow: hidden;
        #container {
            display: block;
            height: 100%;
            width: auto;
        }
        .column {
            display: block;
            width: 35%;
            float: left;
            position: relative;
            @include transition;//column animation
            
            .project {
                display: block;
                position: absolute;
                height: 100%;
                width: 100%;
                @include transition;//transform animation
            }
            
            .project-50 {
                height: 50%;
                width: 100%;
                position: absolute;
            }//project-50
            
            .top {
                top: 0;
            }//top
            .bottom {
                bottom: 0;
            }//bottom
        }//column
        
        .active-column {
            @include span(12);
            padding-left: 0;
            padding-right: 0;
            display: block;
            width: 65%;
            @include breakpoint(max-width 971px) {
                width: 100%;
            }
            
            .project-image {
                display: block;
                position: relative;
                height: 100%;
                width: 41%;
                padding: 20px 0;
                img {
                    display: block;
                    margin: 0 auto;
                    position: absolute;
                    left: 15%;
                    width: 100%;
                    height: auto;
                    @include transition;
                }//img
                @include breakpoint (581px 971px) {
                    position: absolute;
                    top: 13%!important;
                }
                @include breakpoint (max-width 580px) {
                    width: 70%;
                    position: absolute;
                    float: left;
                    top: 13%;
                    margin-left: 5%;
                }
            }//project-image
            
            .project-description-container {
                display: block;
                position: absolute;
                right: 8%;
                top: 0;
                width: 40%;
                text-align: left;
                color: $light;
                opacity: 1;
                z-index: 99999;
                @include transition;//text appearing from bottom
                h3 {
                    text-align: left;
                    text-transform: capitalize;
                    font-size: 3em;
                    line-height: 1.2;
                    margin-bottom: 20px;
                    color: $light;
                }//h3
                .dft-btn {
                    display: block;
                    position: relative;
                    margin: 0 auto;
                    margin-top: 20px;
                    text-transform: capitalize;
                    width: 50%;
                    font-size: 1em;
                    text-align: center;
                    text-decoration: none;
                    @include transition;
                }//boton
                .dft-btn:hover {
                    padding-right: 30px;
                    @include transition;
                }
                .dft-btn:after {
                    position: absolute;
                    color: $light;
                    display: inline-block;
                    content: '>';
                    opacity: 0;
                    right: 20px;
                    @include transition;
                }
                .dft-btn:hover:after {
                    position: absolute;
                    display: inline-block;
                    content: '>';
                    opacity: 1;
                    right: 18px;
                    @include transition;
                }
                @include breakpoint (581px 971px) {
                    position: absolute;
                    top: 17%!important;
                }
                @include breakpoint (max-width 580px) {
                    width: 75%;
                    right: 12%;
                    .project-description {
                        h3 {
                            margin-top: -5%;
                        }
                        p {
                            display: none;
                        }
                    }
                    .dft-btn {
                        width: 80%;
                        position: absolute;
                        left: 10%;
                        bottom: 1%;
                    }
                }//breakpoint 580px
            }//description
        }//active column

        .not-active-column {
            @include span(12);
            padding-left: 0;
            padding-right: 0;
            display: block;
            width: 35%;
            float: left;
            cursor: pointer;
            

            .project-image {
                display: block;
                height: 100%;
                width: auto;
                @include transition;
                img {
                    display: block;
                    top: 0;
                    left: 0;
                    right: 0;
                    padding: 30px 0;
                    margin-left: auto;
                    margin-right: auto;
                    height: 100%;
                }//img
            }//project-image
            
            .project-description-container {
                display: block;
                position: absolute;
                top: 100px!important;
                opacity: 0;
            }//description
        }//not active column
        
            .yellow {
                background: $yellow;
                .project-description-container {
                    color: $dark;
                    h3 {
                        color: $dark;
                    }//h3
                }//project description
            }//yellow
            .purple {
                background: $purple;
            }//darkgray
            .darkgray {
                background: $darkgray;
            }//darkgray
        
    } 
    //RESPONSIVE ADJUSTMENTS
    @include breakpoint(max-width 1500px) {
        #portfolio-grid .active-column .project-description-container {
            .project-description {
                h3 {
                    font-size: 2em;
                }
                p {
                    font-size: 0.8em;
                }
                .dft-btn {
                    font-size: 1.2em;
                }
            }//project-description
        }//project description container inside portfolio-grid
    }//breakpoint 1500px
    @include breakpoint(max-width 1000px) {
        #portfolio-grid .active-column .project-description-container {
            .project-description {
                h3 {
                    font-size: 1.5em;
                }
                p {
                    font-size: 0.8em;
                }
                .dft-btn {
                    font-size: 1em;
                }
            }//project-description
        }//project description container inside portfolio-grid
    }//breakpoint 1000px
    @include breakpoint (max-width 580px) {
        
    }//breakpoint 580px
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) { 

        .active-column, .not-active-column {
            min-height: 600px!important;
        }
    }//Dispositivos de alta definición
}//portfolio

#show-more {
    display: block;
    float: none;
    text-align: center;
    padding: 30px 0;
    font-size: 1.8em;
}

