// services.scss
// ==================

#services {
    position: relative;
    display: block;
    min-height: 1000px;
    #brand-dark {
        position: fixed;
        display: block;
        left: -200px;
        top: 20px;
        width: 125px;
        height: 80px;
        background: url('../images/logo-dark.png') no-repeat;
        -webkit-transition: all 0.15s ease-in-out;
        -moz-transition: all 0.15s ease-in-out;
        -o-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out;
        z-index: 99999;
        @include breakpoint(max-width $medium) {
            display: none!important;
        }
    }
    .section-header { 
        padding-bottom: 0;
    }//section-header
    #serviceslist {
        @include span(10);
        @include breakpoint(max-width 1500px){
            @include span(12);
        }
        float: none;
        margin: 0 auto;
        li {
            @include span(3);
            display: block;
            float: left;
            color: $blue;
            margin-top: 20px;
            margin-bottom: 25px;
            a, h3 {
                color: $blue;
                font: $mainFont;
            }
            .responsive-icon {
                margin: 0 auto;
                display: block;
                width: 256px;
                height: 256px;
                background: url('../images/responsive-blue-md.png') no-repeat;
            }//responsive-icon
            .dev-icon {
                margin: 0 auto;
                display: block;
                width: 256px;
                height: 256px;
                background: url('../images/dev-blue-md.png') no-repeat;
            }//dev-icon
            .seo-icon {
                margin: 0 auto;
                display: block;
                width: 256px;
                height: 256px;
                background: url('../images/seo-blue-md.png') no-repeat;
            }//seo-icon
            .content-icon {
                margin: 0 auto;
                display: block;
                width: 256px;
                height: 256px;
                background: url('../images/content-blue-md.png') no-repeat;
            }//content-icon
            p {
                display: block;
            }
            @include breakpoint(max-width $wide) {
                @include span(6);
            }
            @include breakpoint(max-width $small) {
                @include span(12);
            }
        }//li 
    }//servicelist
    #metodologia {
        float: left;
        position: absolute;
        bottom: 0;
        
        h4.titulo {
            margin: 30px;
        }//workflow button

        #workflow {
            display: block;
            float: left;
            width: 100%;
            background: $gray;
            height: auto!important;//fix altura
            padding-bottom: 100px!important;//fix altura
            .triangulo {
                display: block;
                margin: 0 auto;
                border-width: 25px 25px 0;
                border-color: $light transparent;
                border-style: solid;
                width: 0;
                height: 0;
            }
            ul {
                @include span(10);
                @include breakpoint(max-width 1500px){
                    @include span(12);
                }
                float: none;
                height: auto;
                margin: 0 auto;
                margin-top: 40px;
                background: $gray;
                li {
                    @include span(4);
                    display: block;
                    float: left;
                    text-align: left;
                    padding: 0 20px;
                    #{headings()} {
                        font-size: 1.5em;
                        text-align: left;
                        text-transform: capitalize;
                    }
                    @include breakpoint(max-width $medium){
                        @include span(12);
                        display: block;
                        float: left;
                        padding: 10px 100px;
                        #{headings()} {
                            text-align: center;
                        }
                        text-align: center;
                    }
                }
            }
            @include breakpoint(max-width $wide){
                min-height: 300px;
                padding-bottom: 30px;
                float: left;
            }
        }
        #workflow-footer {
            display: block;
            width: 100%;
            height: 25px;
            background: $gray;
        }
    }//#metodologia
    @include breakpoint (max-width 1200px){
        #metodologia {
            display: none;
        }
        .section-header {
            padding-bottom: 30px;
        }
    }//para tamaño <=1200px ocultamos la sección metodología y ajustamos márgenes
    @include breakpoint (max-width 650px) {
        height: auto!important;
        margin-bottom: 30px!important;
    }
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) { 
        
        #metodologia {
            position: relative;
            bottom: 0;
            ul {
                padding-top: 50px;
                padding-bottom: 150px;
            }
        }
        .section-header {
            padding-bottom: 30px;
        }
        height: auto!important;
        margin-bottom: 100px!important;
    }//Dispositivos de alta definición
}